*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
     background-color: black;
     padding: 0 20px;
}

            /*======= Header section ====== */

.navbar-contaner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    position: relative;
}
.brand-name{
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
}
.brand-name span {
    color: #B9FD50;
}
.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 40px;
}
.nav-list a{
    color: white;
    font-family: 16px;
    font-weight: 500;
    text-decoration: none;
    transition: color 03s ease;
}
.btn-Primary {
    padding: 12px 24px;
    border-radius: 15px;
    background-color: #B9FD50;
    text-decoration: none;
    font-weight: 600;
    transition:  all 0.2 ease;
}
.menu-toggle {
    display: none;
}
.menu-btn {
    display: none;
    cursor: pointer;
    font-size: 24px;
}
/* == Hero Section == */
.section-heading, .capabilities-container {
    padding: 110px 0;
    color: white;
    max-width: 1200px;
    margin: 0 auto;
}
.hero-content {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}
.hero-title {
    font-size: 95px;
    line-height: 103px;
    font-weight: bold;
}
.hero-title span {
    color: #B9FD50;
}
.hero-description {
    font-size: 18px;
    line-height: 30px;
    margin: 35px 0;
}

/* == Brand Section ==*/
.brand-container {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0;
    background-color: #222222;
    border-radius: 20px;
    padding: 30px 0;
}
.brand-title {
    text-align: center;

}
.brand-logo {
    width: 195px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}


/* === How We Work Section === */
.work-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.work-left p {
    font-size: 54px;
    font-weight: 700;
    line-height: 58px;
    margin-top: 18px;
}
.work-left span {
    color: #B9FD50;
}
.work-right {
    margin-left: 7rem;
}
.work-right p{
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    margin: 30px 0;
}

/* == Subscribe section== */
.subscribe-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 110px 0;
    color: white;
    max-width: 1200px;
    margin: 0 auto;
}
.section-image  {
    background-color: #B9FD50;
    width: 85px;
    height: 76px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-image img {
    width: 45px;
    height: 45px;
}


.section-subtitle {
    font-size: 26px;
    font-weight: 700;
    margin: 15px 0;
}
.section-description{
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #9593A4;
}


/* === Our Bewtifull work section === */
.our-work-section {
    background-color: #FFFFFF;
    color: black;
    width: 1200px;
    margin: 0 auto;
    padding: 70px 0;
    max-width: 100%;
}
.section-title {
    text-align: center;
}
.section-title h3 {
    font-size: 48px;
    font-weight: bold;
    line-height: 48px;
    color: #111204;
}
.section-title p {
    font-size: 17px;
    margin: 20px 0;
}
.our-work-container {
    padding: 80px 0px;
}
.work-content{
    display: flex;
    justify-content: space-between;
}
.work-content > img {
    width: 270px;
    height: auto;
    margin-bottom: 30px;
}


.section-btn {
    padding: 12px 24px;
    border-radius: 15px;
    background: transparent;
    text-decoration: none;
    font-weight: 600;
    transition:  all 0.2 ease;
    border: 1px solid black;
}

/* ===Our capabilities section === */
.capabilities-content {
    text-align: center;
    margin-bottom: 60px;
}
.capabilities-content h3 {
    margin: 30px 0;
    font-size: 54px;
    font-weight: 700;
    line-height: 58px;
}
.capabilities-btn{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
    gap: 25px;
}
.capabilities-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 80px 0;
}
.capabilities-card {
    border: 1px solid #2e2525;
    padding: 28px;
}
                             /* ===================
                                Responsive Design
                               ===================*/
                               
@media screen and (max-width: 678px) {

    .section-heading {
        padding: 40px 0;
    }

    .menu-btn {
        display: block;
        color: white;
        order: -1;
    }

    .main-nav{
        display: none;
    }

    .header-btn {
        display: none;
    }

    .menu-toggle:checked ~ .main-nav{
        display: block;
    }

    .main-nav {
        position: absolute;
        top: 70%;
        left: -41px;
        width: 73%;
        padding: 20px;
    }

    .nav-list {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        padding: 20px;
        background-color: darkslategray;
    }

    /* Hero section */
    .hero-title, .work-left p {
        font-size: 40px;
        line-height: 55px;
    }

    .hero-section {
        padding: 30px 0;
    }

    .hero-description {
        font-size: 13px;
        line-height: 30px;
        margin: 20px 0;
    }

    /* Brand Section */

    .brand-container {
        flex-direction: column;
        gap: 30px;
    }

    .brand-logo {
      justify-content: center;
    }

    /* == How we work section == */
    .work-container {
        grid-template-columns: 1fr;
    }
    .work-right {
        margin-left: 0rem;
    }

    /*  */
    .subscribe-section {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        align-items: flex-start;
    }

    /* == Our work section */
    .work-content{
        flex-direction: column-reverse;
    }
    .section-title p {
        font-size: 13px;
    }
    .work-content > img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .capabilities-section {
        grid-template-columns: 1fr;
    }


}